/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

*
{
	font-family: HelveticaNeue;
}

body
{
	font-size: 11pt;
}

h1
{
	font-weight: bold;
	font-size: 24.0pt;
	color: #00ABC9;
}

h2
{
	font-weight: bold;
	font-size: 18.0pt;
	margin-top: 20px;
	margin-bottom: 20px;
}

h3
{
	font-weight: bold;
	font-size: 14.0pt;
	margin-top: 10px;
	margin-bottom: 10px;
}

h4
{
	font-weight: bold;
	font-size: 12.0pt;
	margin-top: 10px;
	margin-bottom: 10px;
}

h5
{
	font-weight: bold;
	font-size: 10.0pt;
}

h6
{
	font-weight: bold;
	font-size: 8.0pt;
}

p
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	color: #7A7A78;
	font-size: 12pt;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

ol,
li
{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 11pt;
	color: black;
}

img
{
	/*You can set height and width on each image to prevent an image from getting too large. Intent here is to scale down as browser size shrinks.*/
	border: none;
	max-width: 90%;
	mc-thumbnail-max-height: auto;
	mc-thumbnail: none;
}

div.home-tiles > div
{
	width: 25%;
	margin-left: 4%;
	padding: 20px;
	background-color: #F1F1F1;
	color: black;
	border: none;
	transition: 0.2s;
	box-shadow: 12px 18px 40px rgba(0, 0, 0, 0.1);
	height: 270px;
}

.tile-title
{
	text-align: center;
	font-size: 20px;
}

.img_tile
{
	display: block;
	margin: 20px auto;
}

p.tile-content
{
	text-align: center;
	font-size: 15px;
	line-height: 15px;
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	color: #696969;
}

.body-container
{
	font-family: 'Akkurat Pro', sans-serif;
	padding-bottom: 50px;
}

/*== madcap proxy assigned styles ==*/

MadCap|breadcrumbsProxy
{
	border-bottom-width: 0;
	color: #00ABC9;
}

fieldset
{
	background-repeat: no-repeat;
	color: #000000;
	background-color: #FFEEE5 !important;
	border-radius: 10px;
	padding: 30px 30px 30px 60px;
	border: none;
	background-image: url('../../Z_Resources/Images/01_Generiques/icon_Info.png');
	background-size: 30px;
	background-position: 10px 20px;
	text-align: left;
	margin: 20px 0;
	width: 80%;
}

fieldset > img
{
	display: block;
	margin: 30px auto;
}

table
{
	font-size: 11pt;
	color: #696969;
}

a:link
{
	color: #000000;
}

ul
{
	font-size: 11pt;
	color: #696969;
}

ol
{
	color: #696969;
}

li
{
	color: #696969;
}

MadCap|dropDownHotspot:focus
{
	
}

MadCap|dropDownHead
{
	color: #696969;
}

MadCap|glossaryTerm.Popup
{
	color: #696969;
	font-weight: bold;
	font-style: normal;
}

MadCap|glossaryTerm.Hyperlink
{
	color: #808080;
	font-weight: bold;
	font-style: normal;
}

MadCap|glossaryTerm.Expanding
{
	color: #808080;
}

MadCap|glossaryTerm
{
	color: #000000;
}

MadCap|bodyProxy
{
	
}

div.GlossaryPageHeading
{
	margin-bottom: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.height-container-sidenav
{
	padding-bottom: 0 !important;
}

img.simple
{
	border: none;
	max-width: 90%;
}

.btn_connect__block
{
	background-color: #00ABC9;
	color: black;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 320px;
	box-shadow: 12px 18px 40px rgba(0, 0, 0, 0.1);
	padding: 20px 0;
	margin: 20px 0;
	text-decoration: none;
	transition: 0.2s;
}

.btn_connect__block:hover
{
	transform: scale(1.1);
}

@media only screen and (max-width: 1279px)
{
	h1
	{
		margin-bottom: 0;
		margin-top: 0;
		color: #ff8c00;
		font-size: 20pt;
	}

	ol
	{
		color: #696969;
		padding: 10px;
	}

	ul
	{
		font-size: 11pt;
		color: #696969;
	}

	fieldset
	{
		background-image: url('../../Z_Resources/Images/01_Generiques/icon_Info.png');
		width: 100%;
	}

	table
	{
		border-left-style: solid;
		border-left-width: 1px;
		border-right-style: solid;
		border-right-width: 1px;
		border-top-style: solid;
		border-top-width: 1px;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
		border-top-left-radius: 1px;
		border-top-right-radius: 1px;
		border-bottom-right-radius: 1px;
		border-bottom-left-radius: 1px;
	}

	td
	{
		
	}

	h2
	{
		font-size: 18pt;
	}

	.menu-icon
	{
		right: 0 !important;
	}

	img
	{
		margin: 20px auto;
	}

	.btn_connect__block
	{
		margin: 20px auto;
		padding: 10px;
	}
}

@media only screen and (max-width: 767px)
{
	div.GlossaryPageHeading
	{
		border-bottom-style: none;
		border-bottom-width: 0px;
		border-bottom-color: transparent;
	}
}

span.SearchHighlight1
{
	background-color: #ffff00;
}

.SearchHighlight1
{
	
}

p#Title
{
	
}

h1#PrintTitle
{
	font-weight: bold;
	font-size: 36pt;
	text-align: center;
	color: #ffffff;
}

