/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

@font-face 
{
	font-family: 'Helvetica';
	src: url(../Fonts/Helvetica.ttf);
}

font
{
	font-family: 'Helvetica';
}

body
{
	font-size: 12pt;
	font-family: Helvetica;
}

h1
{
	font-weight: bold;
	font-size: 24.0pt;
	color: #FF803B;
}

h2
{
	font-weight: bold;
	font-size: 18.0pt;
	margin-top: 20px;
	margin-bottom: 20px;
	font-color: #FF803B;
}

h2_orange
{
	font-weight: bold;
	font-size: 18.0pt;
	font-color: #FF803B;
	margin-top: 20px;
	margin-bottom: 20px;
}

h3
{
	font-weight: bold;
	font-size: 14.0pt;
	margin-top: 10px;
	margin-bottom: 10px;
	font-color: #FF803B;
}

h3_orange
{
	font-weight: bold;
	font-size: 14.0pt;
	font-color: #FF803B;
	margin-top: 10px;
	margin-bottom: 10px;
}

h4
{
	font-weight: bold;
	font-size: 12.0pt;
	margin-top: 10px;
	margin-bottom: 10px;
	font-color: #FF803B;
}

p
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 12pt;
	color: #696969;
}

SousTitre_ADE
{
	font-weight: bold;
	font-size: 14.0pt;
	margin-top: 10px;
	margin-bottom: 10px;
	font-color: #FF803B;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

ol,
li
{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 11pt;
	color: black;
}

img
{
	/*You can set height and width on each image to prevent an image from getting too large. Intent here is to scale down as browser size shrinks.*/
	border: none;
	max-width: 90%;
	mc-thumbnail-max-height: auto;
	mc-thumbnail: none;
}

img.bord
{
	border-radius: 5px;
	max-width: 700px;
	mc-thumbnail-max-height: auto;
	mc-thumbnail-max-width: 1000px;
	mc-thumbnail: Hyperlink;
	border: solid 1px;
	border-color: #000000;
}

div.home-tiles > div
{
	width: auto;
	margin-left: 4%;
	padding: 20px;
	background-color: #e2e2e1;
	color: black;
	border: 1px;
	transition: 0.2s;
	box-shadow: 12px 18px 40px rgba(0, 0, 0, 0.1);
	height: auto;
}

.tile-title
{
	text-align: center;
	font-size: 20px;
}

.img_tile
{
	display: block;
	margin: 20px auto;
}

p.tile-content
{
	text-align: center;
	font-size: 15px;
	line-height: 15px;
}

MadCap|expandingHead
{
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #585B58;
}

MadCap|expandingBody
{
	color: #777777;
}

MadCap|dropDownHotspot
{
	text-decoration: none;
	font-style: normal;
	color: #808080;
	cursor: hand;
}

.body-container
{
	font-family: 'Helvetica';
	padding-bottom: 50px;
}

div.cta:hover	/*When hovering over the CTA button the following properties apply*/
{
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	transform: scale(1.01);
}

a.cta:link
{
	color: #FFFFFF;
	text-decoration: none;
}

a.cta:visited
{
	color: #FFFFFF;
	text-decoration: none;
}

/*==Home Tiles section==*/

div.home-tiles	/*This layout was created using the Responsive Layout Editor in MadCap Flare. Go to: Home Ribbon > Styles Section > Responsive Layout*/
{
	display: flex;
	flex-wrap: wrap;
	margin: 5px auto;
	padding: 10px 0;
	width: auto;
}

div.home-tiles > div:hover	/*When hovering over a home-tile, these properties apply*/
{
	transform: scale(1.1);
}

/*=Elements for text contained within each home-tile=*/

p.tile-title
{
	text-align: center;
	color: #7E8890;
	font-size: 1.4em;
}

p.tile-content
{
	text-align: center;
	color: #7E8890;
	font-size: 0.8em;
}

div.home-tiles a	/*Complex Selector: Any anchor (links) tags that are within div.home-tiles will have the following properties*/
{
	text-decoration: none;
	color: #565656;
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

a:link
{
	color: #000000;
}

a:visited
{
	color: #808080;
}

div.home-tiles a:hover	/*Complex Selector: When hovering over links within the home tiles the following properties will apply.*/
{
	color: #FF803B;
}

/*== madcap proxy assigned styles ==*/

MadCap|breadcrumbsProxy
{
	color: #FF803B;
	border-bottom-style: none;
}

fieldset
{
	background-repeat: no-repeat;
	border-radius: 10px;
	background-image: url('../../Z_Resources/Images/01_Generiques/icon_Info.png');
	text-align: left;
	padding: 15px 15px 20px 40px;
	margin: 5px 0;
	background-position: 5px 10px;
	background-size: 30px;
	align-items: left;
	display: block;
	background-color: #cbc9c9;
	width: auto;
	color: #696969;
}

fieldset.orange
{
	background-repeat: no-repeat;
	border-radius: 10px;
	border: none;
	background-image: url('../../Z_Resources/Images/01_Generiques/icon_Info.png');
	text-align: left;
	padding: 15px 15px 20px 40px;
	margin: 5px 0;
	background-position: 5px 10px;
	background-size: 30px;
	align-items: left;
	display: block;
	background-color: #FF803B;
	width: auto;
	color: #fdfdfd;
}

table
{
	font-size: 11pt;
	color: #696969;
}

ul
{
	font-size: 11pt;
	color: #696969;
}

ol
{
	color: #696969;
}

li
{
	color: #696969;
}

MadCap|dropDownHotspot:focus
{
	
}

MadCap|dropDownHead
{
	font-size: 14pt;
	font-family: 'Helvetica';
	color: #000000;
	font-weight: normal;
	padding: 5px 10px 5px 10px;
}

MadCap|glossaryTerm
{
	color: #000000;
}

MadCap|bodyProxy
{
	background-color: #d3d3d3;
}

div.GlossaryPageHeading
{
	font-size: 20px;
	font_weight: bold;
	font-color: #FF803B;
	text-align: left;
}

div.GlossaryPageTerm
{
	font-size: 16px;
	font-weight: bold;
}

.height-container-sidenav
{
	padding-bottom: 0 !important;
}

.btn_connect__block
{
	background-color: #ff803b;
	color: black;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 320px;
	box-shadow: 12px 18px 40px rgba(0, 0, 0, 0.1);
	padding: 20px 0;
	margin: 20px 0;
	text-decoration: none;
	transition: 0.2s;
}

.btn_connect__block:hover
{
	transform: scale(1.1);
}

MadCap|dropDown
{
	font-color: inherit;
	mc-closed-image: url('../Images/plus.png');
	mc-open-image: url('../Images/minus.png');
}

MadCap|miniTocProxy
{
	border-top-style: none;
	border-top-width: 0px;
	border-top-color: transparent;
	padding-top: 7px;
	font-size: 10pt;
	font-weight: normal;
	margin-top: 5 px;
	padding-left: 10px;
	font: 'Helvetica';
}

div
{
	content: inherit;
}

font-face
{
	font: Helvetica Neue 1;
	font-family: 'Helvetica';
}

div.GlossaryPageEntry
{
	text-indent: 10px;
}

MadCap|dropDownBody
{
	border: solid 2px;
	border-color: #FF803B;
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
}

@media only screen and (max-width: 1279px)
{
	h1
	{
		margin-bottom: 0;
		margin-top: 0;
		color: #FF803B;
		font-size: 20pt;
	}

	ol
	{
		color: #696969;
		padding: 10px;
	}

	ul
	{
		font-size: 11pt;
		color: #696969;
	}

	fieldset
	{
		background-image: url('../../Z_Resources/Images/01_Generiques/icon_Info.png');
		width: 100%;
	}

	table
	{
		border-left-style: solid;
		border-left-width: 1px;
		border-right-style: solid;
		border-right-width: 1px;
		border-top-style: solid;
		border-top-width: 1px;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
		border-top-left-radius: 1px;
		border-top-right-radius: 1px;
		border-bottom-right-radius: 1px;
		border-bottom-left-radius: 1px;
	}

	td
	{
		
	}

	h2
	{
		font-size: 18pt;
	}

	.menu-icon
	{
		right: 0 !important;
	}

	img
	{
		margin: 20px auto;
	}

	img-bords
	{
		border: solid;
		margin: 20px auto;
	}

	.btn_connect__block
	{
		margin: 20px auto;
		padding: 10px;
	}
}

@media only screen and (max-width: 767px)
{
	div.GlossaryPageHeading
	{
		border-bottom-style: none;
		border-bottom-width: 0px;
		border-bottom-color: transparent;
	}

	MadCap|glossaryTerm.Popup
	{
		font-weight: normal;
		font-style: normal;
		font-size: 10pt;
		background-color: #ffffff;
	}

	MadCap|glossaryTerm
	{
		color: #FF803B;
		border-color: #FF803B;
	}

	MadCap|popupBody
	{
		font-size: 10pt;
		blockquote: 10pt;
	}

	MadCap|popup
	{
		font-size: 10pt;
	}

	div.GlossaryPageDefinition
	{
		font-size: 12pt;
	}

	div.GlossaryPageEntry
	{
		font-size: 12pt;
	}

	MadCap|glossaryTerm.Expanding
	{
		font-weight: normal;
		font-style: normal;
		font-size: 10pt;
	}

	MadCap|glossaryTerm.Hyperlink
	{
		font-weight: normal;
		font-style: normal;
		font-size: 10pt;
	}

	MadCap|dropDown
	{
		mc-closed-image: url('../../Z_Resources/Images/02_Captures/Boutons/Bouton_Ajouter.png');
		mc-open-image: url('../../Z_Resources/Images/02_Captures/Boutons/Bouton_Supprimer.png');
		content: inherit;
		font-size: 12pt;
		font-style: inherit;
		font-weight: bold;
		font-color: inherit;
		color: #FF803B;
	}

	p.Print_H2
	{
		font-size: 18;
		font-style: bold;
	}

	p
	{
		color: #000000;
	}
}

span.SearchHighlight1
{
	background-color: #ffff00;
}

.SearchHighlight1
{
	
}

@media print
{
	fieldset
	{
		width: 100%;
		padding: 10px 10px 10px 10px;
		padding-bottom: 10px;
		margin-top: 10px;
		padding-left: 40px;
		background-position: 2px 10px;
		background-size: 25px;
		margin: 25px;
	}

	MadCap|footnote
	{
		mc-footnote-format: '{n}';
		font-size: 10pt;
	}

	.FootnoteNumber
	{
		
	}

	MadCap|footnote.WDFootNoteNumbers
	{
		font-size: 9pt;
		vertical-align: super;
		color: #FF803B;
	}

	p
	{
		mc-hyphenate: never;
	}

	h1
	{
		mc-hyphenate: never;
	}

	h2
	{
		mc-hyphenate: never;
	}

	h3
	{
		mc-hyphenate: never;
	}

	Print_h2
	{
		font-weight: bold;
		font-size: 18.0pt;
		margin-top: 20px;
		margin-bottom: 20px;
		font-color: #FF803B;
	}

	MadCap|expandingHead
	{
		font-size: 12pt;
		font-weight: bold;
		font-style: normal;
		color: #000000;
	}

	MadCap|glossaryTerm
	{
		mc-image-position: left;
		font-weight: bold;
	}

	MadCap|dropDownHead
	{
		color: #FF803B;
		font-weight: bolder;
	}

	MadCap|dropDownHotspot
	{
		color: #FF803B;
		font-weight: bold;
	}

	MadCap|dropDown
	{
		mc-image-position: left;
		mc-image-spacing: 10px;
		font: inherit;
	}

	span.mc-variable
	{
		mc-hyphenate: never;
	}

	MadCap|glossaryTerm.Popup
	{
		background-color: #ffffff;
	}
}

table#SortTable
{
	
}

Print_h2
{
	font-weight: bold;
	font-size: 18.0pt;
	margin-top: 20px;
	margin-bottom: 20px;
	font-color: #FF803B;
}

div#util
{
	
}

MadCap|glossaryProxy.title-bar-container
{
	mc-glossary-headings: true;
}

p.H2_Print
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: helvetica;
	font-weight: bold;
	color: #000000;
	font-size: 18pt;
}

