/* MadCap Table Style: */


/*<meta Version="9" />*/


/* CODE PERSO  */

table {
    border-spacing: 0!important;
}

.TableStyle-Basic-HeadE-Column1-Header1,
.TableStyle_Basic_Head_0_0,
.TableStyle_Basic_Head_0_0_ColEnd,
.TableStyle-Basic-Head-Header1 {
    background-color: #ff6c1b!important;
    color: #ffffff;
}

.TableStyle-Basic-BodyE-Column1-Body1,
.TableStyle-Basic-HeadE-Column1-Header1,
.TableStyle-Basic-BodyE-Column1-Body2,
.TableStyle_Basic_Head_0_0,
.TableStyle_Basic_Body_0_0,
.TableStyle_Basic_Body_0_0,
.TableStyle_Basic_Body_0_0_ColEnd,
.TableStyle_Basic_Body_0_0,
.TableStyle_Basic_Body_0_0_ColEnd,
.TableStyle_Basic_Body_0_0_RowEnd,
.TableStyle_Basic_Body_0_0_RowEnd_ColEnd,
.TableStyle-Basic-Body-Body1,
.TableStyle-Basic-Body-Body2,
.TableStyle-Basic-BodyI--,
.TableStyle-Basic-BodyG--,
.TableStyle-Basic-BodyC--,
.TableStyle-Basic-BodyA-- {
    padding: 10px!important;
    border: solid 1px black!important;
}

.TableStyle-Basic {
    width: 100%!important;
}

tr:nth-child(even) {
    background: #F1F1F1
}

tr:nth-child(odd) {
    background: #FFF
}